<div class="container p-2 ">
<div class="w-50 mx-auto bg-light p-3 rounded shadow">

<h3 class="text-center">Resultado da pesquisa: <b>{{cliente.nome}}</b></h3>
    {{#if emptycliente}}
    <p class="alert-warning p-2 rounded">Não foi encotrado Resultado para sua pesquisa!</p>
    {{/if}}
    {{#else}}
    <label for="nome">Nome:</label>
    <input class="form-control" type="text" name="nome" id="" value={{cliente.nome}} readonly="readonly" >

    <label for="nome">idade:</label>
    <input class="form-control" type="text" name="modelo" id="" value={{cliente.idade}} readonly="readonly">

    <label for="idade">sexo:</label>
    <input type="text" class="form-control" name="marca" id="" value={{cliente.sexo}} readonly="readonly">

    <div class="d-flex w-100 mt-3" > 
    
    <form class="col" action="/clienteRoutes/delete"  method="POST">
    <input type="hidden" name="id" value={{cliente.id}}>
    <button class="btn-danger btn col" type="submit"> Excluir</button></form>
    <form class="col" action="/clienteRoutes/edit" method="POST" >

    <input type="hidden" name="id" value={{cliente.id}}>
    <button class="btn-info btn col" type="submit"> Editar</button>

    </form>
    </div>
{{/else}}
    <button class="btn-primary btn"> <a class="text-white" href="/clienteRoutes"> Nova pesquisa</a></button>

</div>
</div>